* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Абсолютные границы контейнеров (отступы не вылезают дальше отведенной ширины и высоты)*/
    }

body{ 
    /* background-color: black; */
     /* background-image: url('img/Astolfo-FateApocrypha-Fate-(series)-Anime-5674045.gif');  */
     width: 100%;
}

.gif {
     display: block; /* нужно, чтобы убрать проблемы между гифками. Так как img - строчный элемент, то браузер автоматом ставит его отсуп, поэтому я загнал его в блок и больше такой херни нет */
}

.leftbg { /*левый бэкграунд*/
    position: fixed;
    width: 540px;
    height: 1080px;
    z-index: 1000; /* выдвигаю leftbg на самый первый план */
    
}

.rightbg { /*правый бэкграунд*/
    transform: scaleX(-1);
    width: 540px;
    position: fixed;
    margin-left: 1380px;
    height: 1080px;
    z-index: 1000; /* выдвигаю rightbg на самый первый план */
}

.maincont { /*главный контейнер посередине между боковыми гифками*/
    width: 840px;
    margin-left: 540px;
    margin-right: 540px;
}

.gald { /*зона Дениса*/
    height: 323px;  
    border: 3px solid black;
}

.vlad { /*зона Влада*/
    height: 323px;
    border: 3px solid black;
}

.arta { /*зона Артёма*/
    height: 323px;
    border: 3px solid black;
}




